<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="droid.emergency" android:versionCode="15" android:versionName="1.6.0">
    <uses-sdk android:minSdkVersion="9" />
    <application android:label="@string/app_name" android:icon="@drawable/emergency" android:allowTaskReparenting="true">

        <receiver android:name="droid.emergency.EmergencyAppWidgetProvider" android:exported="true" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:exported="true" android:resource="@layout/widgetprop" />
        </receiver>

        <service android:name="droid.emergency.EmergencyService" android:exported="true" android:label="EmergencyService">
            <intent-filter>
                <action android:name="droid.emergency.EmergencyService.ACTION_BTNCLICK" />
            </intent-filter>
        </service>

        <provider android:name="droid.emergency.EmergencyContentProvider" android:authorities="droid.emergency.Emergency">
        </provider>
        
        <activity android:name="EmergencyActivity" android:exported="true" android:label="@string/app_edit_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
